body {
  background-color: black;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: 'Arvo', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: 'Arvo', serif;
}

#bigBody {
  background-color: rgba(100, 110, 100, 1);
  justify-content: center;
  align-items: center;
  align-content: center;

  margin: 0%;
  padding: 0%;
  
}

.landingFont {
  font-size: large;
  display: flex;
  height: 30vh;
}

.landingback {
  background-image: url(https://i.imgur.com/abbkxj3.jpg);
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* margin-top: 10rem; */
  display: block;
  /* padding: 2rem; */
  font-size: 7rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Steelfish Rg', 'helvetica neue',
           helvetica, arial, sans-serif;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
  /* height: 50vh;
  width: 100%; */
  /* text-align: center;
  align-items: center; */
  justify-content: center;
  margin-left: 5vw;
  /* position: relative; */
  animation-name: bground;
  animation-duration: 16s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;
  

}

@keyframes bground {
    0%   {background-position: 0px;}
    25%  {background-position: 4px 0 0px 0;}
    50%  {background-position: 16px 0 0px 0;}
    75%  {background-position: 32px 0 0px 0;}
    100% {background-position: 120px 0 0px 0;}
  }

#stretch {
  height: 100rem;
}

#center {
  text-align: center
}

#picOme {
  height: 30rem;
  border-radius: 5rem;
}

#picOstuff {
  margin: 1rem;
  height: 30rem;
  border-radius: 5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#picObar {
  height: 35rem;
  border-radius: 5rem;
}

#topSpace {
  height: 2rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

 /* buttonActivityPage {
  justify-content: space-evenly;
 } */



.signButton {
  color: black;
}

.signSeg {
  justify-content: center;
  align-items: center;
  border: 2rem black solid;
}

#container {
  margin-top: 10rem;
}

#segment {
  padding: 10rem;
}

#signOutText {
  color: black;
}

/* #userPageSegment {
  width: 30rem;
} */


#header {
  background-color: grey;
}

#actList {
  height: 10rem;
  background-color: white;
  color: black;
}

#actListItems {
  justify-content: left;
}


#ranksHeader {
  text-align: center;
}

#bestBuds {
  text-align: center;
}

#viewBudsButton {
  justify-content: center;
  align-content: center;
  text-align: center;
}

#viewButton {
  align-items: right;
}

.modal {
  width: 75vw !important;
  height: auto !important;
  top: auto !important;
  left: auto !important;
}

#yourActs {
  text-align: center;
  font-size:xx-large;
}

#commFeed {
  text-align: center;
}
.capitalize-me::first-letter {
  text-transform: capitalize;
}
.AvatarSelection {
  justify-content: center;
  align-content: center;
  text-align: center;
}

.scrolling-group {
  max-height: 200vh;
  overflow:scroll
}

.porjName {
  font-size: 4rem;
  /* text-align: right; */
  font-family: 'Nunito Sans', sans-serif;
}
.oswald {
  font-family: 'Nunito', sans-serif;

}

.linkSize {
  font-size: 2rem;
  font-family: 'Raleway', sans-serif;


}

.raleway {
  font-family: 'Raleway', sans-serif;
}
